.nav{
    position: relative;
}
.nav ul{
    position: absolute;
    right: 0;
    list-style: none;
    display: inline;
}
.nav li {
    display: inline;

}
.nav ul li a {
    text-decoration: none;
    color: #000;
    padding: 10px;
}
.nav  img{
    border-radius: 50%;
    width: 50px;
}
.banner {
    background-image: url(headerbg.png);
    width: 100%;
    background-size: cover;
}
.main{
    margin: auto;
    padding: 200px;
    text-align: center;
    color: aliceblue;
    
}
.h1  {
    color: aliceblue;
    font-size: xx-large;
    border-bottom: 3px solid blue;
}
.main button{
    background-color: transparent;
    padding: 5px;
    border: aliceblue solid 2px;
}
.pure{
    text-align: center;
}
.icons {
    width: 80%;
   margin: auto;
    text-align: center;
}
.show .pro{
    text-align: center;
}

.child{
    width: 30%;
    display: inline-block;
}
.photos{
    display: inline-block;
    text-align: center;
    margin: auto;
    width: 100%;
    
}
.photos img{
    border-radius: 3px;
    margin:6px;
    width: 30% ;
}
.contact1 {
    background-image: url(./contactbg.png);
    background-size: cover;
    height: 100vh;
    padding: 50px 0;
    position: relative;
}

.contact-overlay {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: blue;
}

.contact-info {
    text-align: center;
    margin-top: 100px;
}

.contact-info h2 {
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: white;
}

.contact-info p {
    color: blue;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 35px;
}

.contact-form {
    width: 600px;
    text-align: center;
    margin: -22px auto;
}

.contact-form input[type=text],
input[type=email],
input[type=password],
textarea {
    width: 600px;
    padding: 15px;
    margin-bottom: 15px;
    background: transparent;
    display: block;
}

span {
    background: transparent;
    padding: 10px 30px;
    color: white;
    font-size: 16px;
    margin-left: 40px;
    border: solid 1px aqua;
}

input[type=checkbox] {
    margin-right: 20px;
}

input[type=submit] {
    background: transparent;
    padding: 10px 30px;
    color: white;
    font-size: 16px;
    border: solid 1px aqua;
}

footer {
    padding: 25px;
    background-color: blueviolet;
    text-align: center;
}

footer a {
    text-decoration: none;
    font-size: 36px;
    margin: 5px;
    color: green;
}

